.userList_table {
  width: 100%;
  margin: 0 auto;
}

.userList_table > thead {
  background: var(--color--black1);
}

.userList_table > thead > tr > th {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color--white);
  vertical-align: middle;
}

.userList_table > tbody > tr > td {
  padding: 8px 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  border-bottom: 1px solid var(--color--black4);
}

.userList_table > tbody > tr > td:first-child p {
  font-size: 14px;
  font-weight: 500;
}

.userList_table > tbody img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  overflow: hidden;
}

.page {
  padding: 20px;
}

.page ol {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.page_number li {
  color: var(--color--black1);
  cursor: pointer;
}

.active {
  border-bottom: 1px solid var(--color--black1);
}