<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header></header>
    <main>
      <div id="container">
        <div class="side_contents">
          <div class="admin_category">
            <ul>
              <li><a href="">주문조회</a></li>
              <li><a href="">상품관리</a></li>
              <li><a href="">카테고리</a></li>
            </ul>
          </div>
        </div>
        <div class="contents">
          <div><a href="">상품추가</a></div>
          <div>
            <ul>
              <li>
                <div class="goods_detail">
                  <div class="img_box">
                    <img src="../../asset/images/goods_list5.jpg" alt="" />
                  </div>
                  <div class="info_box">
                    <div class="detail_info">
                      <dl class="date">
                        <dt>날짜</dt>
                        <dd>2023-02-04 ~ 2023-04-27</dd>
                      </dl>
                      <dl class="title">
                        <dt>제목</dt>
                        <dd>다비드 자맹: 프로방스에서 온 댄디보이</dd>
                      </dl>
                      <dl class="description">
                        <dt>설명</dt>
                        <dd>
                          내면의 감정을 바깥으로 끌어와 역동적으로 표현하는
                          프랑스 화가 다비드 자맹의 개인전
                        </dd>
                      </dl>
                      <dl class="price">
                        <dt>가격</dt>
                        <dd>18,000 원</dd>
                      </dl>
                      <dl class="age">
                        <dt>연령제한</dt>
                        <dd>없음</dd>
                      </dl>
                      <dl>
                        <dt>장소</dt>
                        <dd>국립현대미술관</dd>
                      </dl>
                    </div>
                    <div class="btn_box">
                      <button class="btn_modify">상품수정</button>
                      <button class="btn_delete">상품삭제</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="goods_detail">
                  <div class="img_box">
                    <img src="../../asset/images/goods_list5.jpg" alt="" />
                  </div>
                  <div class="info_box">
                    <div class="detail_info">
                      <dl class="date">
                        <dt>날짜</dt>
                        <dd>2023-02-04 ~ 2023-04-27</dd>
                      </dl>
                      <dl class="title">
                        <dt>제목</dt>
                        <dd>다비드 자맹: 프로방스에서 온 댄디보이</dd>
                      </dl>
                      <dl class="description">
                        <dt>설명</dt>
                        <dd>
                          내면의 감정을 바깥으로 끌어와 역동적으로 표현하는
                          프랑스 화가 다비드 자맹의 개인전
                        </dd>
                      </dl>
                      <dl class="price">
                        <dt>가격</dt>
                        <dd>18,000 원</dd>
                      </dl>
                      <dl class="age">
                        <dt>연령제한</dt>
                        <dd>없음</dd>
                      </dl>
                      <dl>
                        <dt>장소</dt>
                        <dd>국립현대미술관</dd>
                      </dl>
                    </div>
                    <div class="btn_box">
                      <button class="btn_modify">상품수정</button>
                      <button class="btn_delete">상품삭제</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="goods_detail">
                  <div class="img_box">
                    <img src="../../asset/images/goods_list5.jpg" alt="" />
                  </div>
                  <div class="info_box">
                    <div class="detail_info">
                      <dl class="date">
                        <dt>날짜</dt>
                        <dd>2023-02-04 ~ 2023-04-27</dd>
                      </dl>
                      <dl class="title">
                        <dt>제목</dt>
                        <dd>다비드 자맹: 프로방스에서 온 댄디보이</dd>
                      </dl>
                      <dl class="description">
                        <dt>설명</dt>
                        <dd>
                          내면의 감정을 바깥으로 끌어와 역동적으로 표현하는
                          프랑스 화가 다비드 자맹의 개인전
                        </dd>
                      </dl>
                      <dl class="price">
                        <dt>가격</dt>
                        <dd>18,000 원</dd>
                      </dl>
                      <dl class="age">
                        <dt>연령제한</dt>
                        <dd>없음</dd>
                      </dl>
                      <dl>
                        <dt>장소</dt>
                        <dd>국립현대미술관</dd>
                      </dl>
                    </div>
                    <div class="btn_box">
                      <button class="btn_modify">상품수정</button>
                      <button class="btn_delete">상품삭제</button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
