<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header></header>
    <main>
      <div id="container">
        <div class="side_contents">
          <div class="admin_category">
            <ul>
              <li><a href="">주문조회</a></li>
              <li><a href="">상품관리</a></li>
              <li><a href="">카테고리</a></li>
            </ul>
          </div>
        </div>
        <div class="contents">
          <!--
                상단 : 배송상태, 주문일자
                유저정보 : 임시 이미지, 이름, 메일주소
                상품정보(구매상품 리스트) : 상품명, 구매수량, 가격

                총합계금액 
            -->
          <ul>
            <li></li>
          </ul>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
