.recomm_head ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px;
  background: var(--color--black1);
  font-size: 16px;
  color: white;
}

.table_top ul,
.table_cont .list_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table_top ul li,
.table_cont .list_box > div {
  padding: 5px;
  text-align: center;
}

.table_cont > ul {
  overflow-y: auto;
  height: 420px;
}

.table_cont > ul > li:not(:last-child) {
  border-bottom: 1px solid var(--color--black4);
}

.table_cont > ul > li {
  min-height: 70px;
  font-size: 13px;
  word-break: keep-all;
}

.select {
  width: 7%;
}

.image {
  width: 18%;
}

.image img {
  width: 45px;
}

.name {
  width: 50%;
}

.price {
  width: 25%;
}

.table_top {
  display: block;
  background: var(--color--black4);
  color: #333333;
}

#modal.admin_modal .modal_window {
  position: relative;
  margin: 0 auto;
  min-width: 1000px;
}

.content .wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}
.content section {
  flex: 0.45;
}

.recomm_chk {
  flex: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.recomm_chk button {
  display: block;
  width: 50px;
  height: 50px;
}

.btn_box.recomm_modal {
  padding: 10px 0 0;
}
