<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="/asset/icons/favicon.ico"
            type="image/x-icon"
        />
        <link rel="icon" href="/asset/icons/favicon.ico" type="image/x-icon" />
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../../css/style/reset.css" />
        <link rel="stylesheet" href="../../css/style/style.css" />
        <link rel="stylesheet" href="../../css/admin/admin.css" />
        <link rel="stylesheet" href="../../css/layout/modal.css" />
        <link rel="stylesheet" href="/modules/select/select.css" />
        <script src="../../modules/select/select.js" defer></script>
        <!-- Axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
        <script type="module" defer src="./admin_user.js"></script>
        <script type="script" defer src="./date.js"></script>
        <title>Admin User | Ticket Want it!</title>
    </head>
    <body>
        <div id="container">
            <div class="contents">
                <div class="wrap">
                    <nav>
                        <div>
                            <div class="side_top">
                                <div class="logo">
                                    <a href="../../index.html"
                                        ><img
                                            src="/asset/icons/logo_w.png"
                                            alt=""
                                    /></a>
                                </div>
                                <div class="category">
                                    <div class="title">CATEGORY</div>
                                    <ul>
                                        <li>
                                            <a href="./order.html"
                                                ><i
                                                    class="ri-file-list-3-line"
                                                ></i
                                                ><span>주문조회</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./goods.html"
                                                ><i
                                                    class="ri-shopping-bag-3-line"
                                                ></i
                                                ><span>상품관리</span></a
                                            >
                                        </li>
                                        <li>
                                            <a href="./category.html"
                                                ><i class="ri-menu-add-fill"></i
                                                ><span>카테고리</span></a
                                            >
                                        </li>
                                        <li class="on">
                                            <a href="./user.html"
                                                ><i class="ri-user-3-line"></i
                                                ><span>회원관리</span></a
                                            >
                                        </li>
                                        <li>
                                            <a href="./recommends.html"
                                                ><i class="ri-thumb-up-line"></i
                                                ><span>추천상품등록</span></a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="link">
                                <ul>
                                    <li>
                                        <a href="/index.html"
                                            ><i class="ri-store-fill"></i
                                            ><span>내 쇼핑몰 바로가기</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="https://github.com/SeongHo-C/FE-TicketWantIt"
                                            target="_blank"
                                            ><i class="ri-github-fill"></i
                                            ><span>GitHub</span></a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <main>
                        <div class="header">
                            <div class="left">
                                <div class="date_box">
                                    <div class="icon">
                                        <i class="ri-calendar-line"></i>
                                    </div>
                                    <div class="date">
                                        <strong>TODAY</strong>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="user_box">
                                    <div class="icon">
                                        <i class="ri-user-3-line"></i>
                                    </div>
                                    <div class="info">
                                        <strong>관리자</strong>
                                        <span><em>쇼핑몰디브한잔</em> 님</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="admin_user">
                            <div class="admin_title">
                                <h2>회원 관리</h2>
                                <span>User list</span>
                            </div>
                            <div class="admin_content">
                                <div class="category_box">
                                    <div class="add_cate">
                                        <div class="title">
                                            <h3>회원 검색</h3>
                                        </div>
                                        <div class="user_search_box">
                                            <div class="custom-style">
                                                <select name="" id="">
                                                  <option value="userName">이름</option>
                                                  <option value="userEmail">E-MAIL</option>
                                                  <option value="userAddress">주소</option>
                                                  <option value="userPhoneNumber">전화번호</option>
                                                </select>
                                            </div>
                                            <input
                                                type="text"
                                                placeholder="유저 정보를 입력해주세요"
                                                id="userSearch"
                                            />
                                            <button id="userSearchBtn">검색</button>
                                        </div>
                                    </div>
                                    <div>
                                      <div class="title">
                                        <h3>회원 리스트</h3>
                                      </div>
                                      <table class='userList_table'>
                                        <colgroup>
                                            <col style="width: 10%" />
                                            <col style="width: 10%" />
                                            <col style="width: 15%" />
                                            <col style="width: 35%" />
                                            <col style="width: 20%" />
                                            <col style="width: 10%" />
                                          </colgroup>
                                        <thead>
                                          <th>사진</th>
                                          <th>이름</th>
                                          <th>E-MAIL</th>
                                          <th>주소</th>
                                          <th>전화번호</th>
                                          <th>수정/삭제</th>
                                        </thead>
                                        <tbody id='userList'>
                                        </tbody>
                                      </table>
                                      <div class='pagination'>
                                        <ol>
                                        </ol>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <div id="modal">
            <div class="modal_window">
              <div class="close_area">
                <button><i class="ri-close-fill"></i></button>
              </div>
              <div class="title">
                <h2>회원정보수정</h2>
              </div>
                <div class="userInfo_modify_wrap">
                    <span>
                        이름
                    </span>
                    <input type="text" class='userInfoInput'/>
                    <span>
                        전화번호
                    </span>
                    <input type="text" class='userInfoInput'/>
                    <span>
                        주소
                    </span>
                    <input type="text" class='userInfoInput'/>
                    <span>
                        우편번호
                    </span>
                    <input type="text" class='userInfoInput'/>
                </div>
                <div class='modal_modify'>
                    <button id='userInfoModify' class='border'>수정</button>
                </div> 
              </div>
            </div>
          </div>
        <footer></footer>
    </body>
</html>
