* {
  box-sizing: border-box;
}

body {
  overflow: auto;
}

#container {
  display: flex;

  margin: 2rem auto;

  min-height: 500px;

  background-color: var(--color--white);
}

#active {
  color: var(--color--blue2);
  font-weight: bold;
}

.side_content {
  flex-basis: 15%;
}

.side_content li {
  padding: 15px;

  cursor: pointer;
  border-bottom: 1px solid var(--color--black4);
  color: var(--color--black1);
}

#content {
  flex-basis: 85%;
}

.title_area {
  text-align: center;
}

.title_area > h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.order_table {
  margin: 2rem;

  width: 900px;
}

.order_table > thead > tr > th {
  padding: 15px 0;

  color: var(--color--black2);
  font-size: 0.9rem;
  vertical-align: middle;
}

.order_table > thead {
  border-top: 2px solid var(--color--black1);
  border-bottom: 1px solid var(--color--black4);
}

.order_table > tbody > tr > td {
  padding: 20px 5px;

  text-align: center;
  vertical-align: middle;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--color--black4);
  min-height: 135px;
}

.order_price,
.product_info {
  font-weight: 600;
}

.order_status > button {
  padding: 0.5rem 0;
  margin-top: 0.2rem;

  width: 5rem;

  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
}

.modify_button {
  background-color: var(--color--black1);
  color: var(--color--white);
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.4);
}

#modal > .modal-window {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  width: 500px;
  height: 500px;

  background: var(--color--white);
  border-radius: 10px;
}

.close_area {
  display: flex;
  justify-content: flex-end;
}

.modal_title {
  text-align: center;
}

.modal_title > h2 {
  font-size: 1.2rem;
}

.star {
  color: var(--color--red);
}

.subtitle {
  padding: 0.5rem;
}

.wrap {
  margin-bottom: 20px;
}

.address_input_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 180px;

  padding: 1rem;

  border: 1px solid var(--color--black3);
  border-radius: 10px;
  background-color: var(--color--white);
}

.address_input_wrap > li > input {
  height: 40px;

  vertical-align: middle;
  border: 1px solid #dadada;
  padding: 0px 15px;
}

.address_search_btn {
  background-color: var(--color--white);
  outline: none;
  cursor: pointer;
}

.address,
.address_detail {
  width: 400px;
}

.phone_input_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  border: 1px solid var(--color--black3);
  border-radius: 10px;
  background-color: var(--color--white);
}

#phone1,
#phone2,
#phone3 {
  padding: 0px 15px;

  width: 130px;
  height: 40px;
}

.modal_modify {
  text-align: center;
}

.modal_modify > button {
  margin: 0.25rem 0;

  width: 50%;
  height: 30px;

  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: var(--color--white);
  background-color: var(--color--black3);
  transition: all 300ms ease-in;
}

.modal_modify > button:hover {
  background-color: var(--color--black2);
}
