h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.title_area {
    padding: 100px;

    text-align: center;
    min-height: 30px;
}

section .cart {
    padding: 120px 20px 0;
}

/* 테이블 */

.tickets_head ul,
.tickets_list ul {
    display: flex;
    justify-content: flex-start;
}

.tickets_head {
    background: var(--color--black1);
    padding: 15px 0;
}

.tickets_head ul li {
    padding: 0 15px;
    color: var(--color--white);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.tickets li:first-child {
    width: 4%;
}

.tickets li:nth-child(2) {
    width: 50%;
}

.tickets li:nth-child(3),
.tickets li:nth-child(4) {
    width: 23%;
}

.tickets_list > div {
    border-bottom: 1px solid var(--color--black4);
}

.tickets_list li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.ticket_info > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
}

.ticket_info .img_box {
    width: 120px;
}

.ticket_info .info_box {
    width: calc(100% - 120px);
}

.ticket_info .info_box .title {
    display: block;
    padding: 0 0 10px;
    font-size: 20px;
    font-weight: 500;
    word-break: keep-all;
}

.ticket_info .etc {
    display: block;
    padding: 0 0 15px;
}

.ticket_info .etc dl {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 14px;
    color: var(--color--black3);
    word-break: keep-all;
}

.ticket_info .etc dl dt {
    width: 55px;
}

.ticket_info .etc dl dd {
    width: calc(100% - 55px);
}

.ticket_info .fixed_price {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #adb4c1;
    text-decoration: line-through;
}

.ticket_info .discount_price {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: var(--color--black1);
}

.ticket_info .discount {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: var(--color--blue2);
}

.ticket_info .price .fixed_price {
    display: none;
}

.ticket_info .price .discount {
    display: none;
}

.ticket_info .price.discount .fixed_price {
    display: block;
}

.ticket_info .price.discount .discount {
    display: inline-block;
}

.ticket_quantity > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket_quantity input {
    display: block;
    width: 50px;
    height: 35px;
    border: none;
    border-top: 1px solid var(--color--black4);
    border-bottom: 1px solid var(--color--black4);
    outline: none;
    box-sizing: border-box;
    text-align: center;
}

.ticket_quantity button {
    display: block;
    margin: 0;
    padding: 0;
    width: 35px;
    height: 35px;
    background: var(--color--black1);
    border: none;
    font-size: 16px;
    color: var(--color--white);
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

.ticket_quantity button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.ticket_quantity button.minus_button span::after {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 1px;
    background: var(--color--white);
}

.ticket_quantity button.plus_button span::after {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 1px;
    background: var(--color--white);
}

.ticket_quantity button.plus_button span::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 12px;
    background: var(--color--white);
}

.ticket_total .total {
    display: block;
    padding: 0 0 10px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color--red);
}

.ticket_total button {
    display: block;
    padding: 10px;
    margin: 5px 0;
    width: 100px;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.1s ease-in-out;
}

.no_data {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    /* text-align: center; */
    width: 100%;
    color: var(--color--black3);
}

.ticket_order {
    border: 0;
    color: white;
    background-color: var(--color--black1);
}

.ticket_order:hover {
    background-color: var(--color--blue2);
}

.ticket_delete {
    border: 0.5px solid var(--color--black4);
    background-color: white;
}

.table_footer {
    display: flex;
    justify-content: space-between;

    padding: 10px;

    font-size: 0.8rem;
}

.table_footer > div {
    display: flex;
    align-items: center;
}

.table_footer_button {
    padding: 0.4rem 0.6rem;
    margin: 0.2rem 0;

    outline: none;
    cursor: pointer;
    font-size: 0.8rem;
    border: 0.5px solid var(--color--black4);
    color: var(--color--black3);
    background-color: white;
}

.table_footer_button.slected_delete {
    margin-left: 10px;
}

.calculate {
    margin-top: 2rem;

    width: 100%;
}

.calculate > thead > tr > th {
    padding: 15px;

    color: var(--color--black1);
    font-weight: 600;
}

.calculate > thead {
    border-top: 2px solid var(--color--black1);
    border-bottom: 1px solid var(--color--black4);
}

.calculate > thead > tr > th {
    padding: 15px;

    color: var(--color--black1);
    font-weight: 600;
}

.calculate > tbody > tr > td {
    padding: 30px;

    color: var(--color--black1);
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid var(--color--black4);
}

.all_order {
    border: 0;
    color: white;
    background-color: var(--color--black1);
}

.selected_order {
    border: 0.5px solid var(--color--black4);
    background-color: white;
}

.selected_delete {
    margin-left: 10px;
}

.calculate_list td:last-child p {
    color: var(--color--red);
}

.order_area {
    text-align: center;
}

.btn_box {
    margin: 0 auto;
    padding: 100px 0 0;
    width: 50%;
}

.btn_box > button {
    height: 55px;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 1140px) {
}

@media (max-width: 720px) {
    section .cart {
        padding: 50px 15px 0;
    }

    .tickets_head {
        display: none;
    }

    .tickets_list ul {
        display: block;
    }

    .tickets_list li {
        width: 100% !important;
        padding: 0 0 10px;
    }

    .tickets li:first-child {
        padding: 10px 0;
        justify-content: flex-start;
    }

    .ticket_info > div {
        flex-direction: row-reverse;
        padding: 0 15px;
    }

    .ticket_info .price.discount .fixed_price {
        display: none;
    }

    .ticket_info .price.discount .discount {
        display: none;
    }

    .tickets_list .ticket_quantity {
        padding: 0 10px;
        justify-content: flex-start;
    }

    .ticket_quantity button {
        width: 30px;
        height: 30px;
        background: var(--color--white);
        border: 1px solid var(--color--black4);
    }

    .ticket_quantity input {
        height: 30px;
    }

    .ticket_quantity button.minus_button span::after {
        width: 8px;
        height: 2px;
        background: var(--color--black4);
    }

    .ticket_quantity button.plus_button span::after {
        width: 8px;
        height: 2px;
        background: var(--color--black4);
    }

    .ticket_quantity button.plus_button span::before {
        width: 2px;
        height: 8px;
        background: var(--color--black4);
    }

    .ticket_total > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px 0;
        width: 100%;
    }

    .ticket_total .total {
        padding: 0;
    }

    .ticket_total > div > div:last-child {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    .ticket_total button {
        width: 80px;
    }

    .btn_box {
        gap: 5px;
        padding: 50px 0 0;
        width: 100%;
    }

    .btn_box > button {
        height: 45px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .ticket_info .info_box .title {
        font-size: 16px;
        font-weight: 500;
    }

    .ticket_info .etc dl {
        font-size: 13px;
    }

    .ticket_info .discount_price {
        font-size: 16px;
        font-weight: 400;
    }
}
