body {
  font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', 'sans-serif';
  overflow: auto;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 150px auto;
  width: 400px;
  height: 600px;
  
  border-top: solid var(--color--black1) 2px;
  border-bottom: solid var(--color--black1) 2px;
}

legend {
  text-align: center;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}

label {
  display: block;
  margin-top: 20px;
}

#id {
  width: 123px;
}

#email {
  width: 103px;
}

#selectEmail {
  padding: 10px;
  width: 0;
}

.join_inputText {
  margin: 5px;
  padding: 10px;
  width: 280px;
}

.input_box {
  position: relative;
  margin-left: 35px;
}

.input_box i {
  position: absolute;
  top: 40px;
  right: 48px;
  cursor: pointer;
}

.ri-eye-2-line {
  display: none;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  margin: 30px;
  width: 80px;
  height: 40px;

  border: 0;
  border-radius: 15px;
  background-color: var(--color--blue2);
  color: var(--color--white);
  cursor: pointer;
}

.error {
  display: none;
  margin: 0 0 5px 5px;

  font-size: 12px;
  color: red;
}

#warning {
  display: flex;
  justify-content: center;
  margin: 3px auto;
  font-size: 13px;
  color: var(--color--black3);
}

#modal {
  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.4);
}

#modal > .modal-window {
  display: flex;
  flex-direction: column;
  margin: 20% auto;
  padding: 1rem;

  width: 400px;
  height: 200px;

  background: var(--color--white);
  border-radius: 10px;
}

.close_area {
  display: flex;
  justify-content: flex-end;
}

.close_area > button {
  padding: 0;

  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 300ms ease-in;
}

.close_area > button:hover {
  transform: scale(1.05);
  color: var(--color--red);
}

.modal_title {
  text-align: center;
}

.modal_title > h2 {
  font-size: 1.2rem;
}

.confirm_input_wrap {
  display: flex;

  padding: 1rem;

  border: 1px solid var(--color--black3);
  border-radius: 10px;
  background-color: var(--color--white);
}


#confirmInput {
  padding: 0px 15px;

  width: 200px;
  height: 40px;
}

.modal_modify > button {
  margin: 0.25rem;

  width: 100%;
  height: 40px;

  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: var(--color--white);
  background-color: var(--color--black3);
  transition: all 300ms ease-in;
}

.modal_modify > button:hover {
  background-color: var(--color--black2);
}

#timer {
  margin: auto;
  color: red;
}