.contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

#joinWrap {
  padding: 200px 0 0;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
}

.tab li {
  display: block;
  width: 50%;
  text-align: center;
}

.tab li a {
  display: block;
  padding: 15px 0;
  width: 100%;
  background: #ffffff;
  border-bottom: 2px solid #707070;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--color--black4);
}

.tab li.on a {
  background: var(--color--black1);
  border: 1px solid var(--color--black1);
  font-weight: 600;
  color: #ffffff;
}

/* legend {
    text-align: center;
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
} 

label {
    display: block;
    margin-top: 20px;
}

#selectEmail {
    padding: 10px;
    width: 0;
} 

 */

.input_box {
  position: relative;
  padding: 10px 0 0;
}

.input_box label {
  display: block;
  padding: 0 0 3px;
  font-size: 14px;
  color: var(--color--black3);
}

.input_box input {
  position: relative;
  padding: 0 20px;
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  color: var(--color--black1);
  box-sizing: border-box;
  outline: none;
}

.input_box input::placeholder {
  font-size: 14px;
  color: #ccc;
}

input#id {
  display: inline-block;
  margin-right: 5px;
  width: 35%;
}

input#email {
  display: inline-block;
  /* margin-right: 5px; */
  width: 30%;
}

#selectEmail {
  padding: 10px;
  width: 26%;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  color: var(--color--black1);
  outline: none;
}

.input_box i {
  position: absolute;
  top: 45px;
  right: 20px;
  cursor: pointer;
}

.ri-eye-2-line {
  display: none;
}

.btn_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 50px 0 0;
}

#emailConfirmButton {
  display: block;
  width: 50%;
  height: 50px;
  background: var(--color--white);
  border: none;
  border: 1px solid var(--color--blue2);
  border-radius: 5px;
  color: var(--color--blue2);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

#join_btn {
  display: block;
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--color--blue2);
  color: var(--color--white);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

.error {
  display: none;
  margin: 0 0 5px 5px;

  font-size: 12px;
  color: red;
}

#warning {
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
  font-size: 13px;
  color: var(--color--black3);
}

#modal {
  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.4);
}

#modal > .modal-window {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 400px;
  background: var(--color--white);
  border-radius: 5px;
}

.close_area {
  display: flex;
  justify-content: flex-end;
}

.close_area > button {
  padding: 0;

  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 300ms ease-in;
}

.close_area > button:hover {
  transform: scale(1.05);
  color: var(--color--red);
}

.modal_title {
  display: block;
  padding: 0 0 10px;
  margin: 0 0 20px;
  border-bottom: 1px solid var(--color--black1);
  text-align: center;
}

.modal_title h2 {
  font-size: 20px;
  font-weight: 600;
}

.confirm_input_wrap {
  display: block;
  padding: 20px 0;
}

#confirmInput {
  display: inline-block;
  padding: 0px 15px;
  width: 74%;
  border: 1px solid var(--color--black3);
  border-radius: 3px;
  height: 40px;
  box-sizing: border-box;
}

.modal_modify {
  display: inline-block;
  width: 24%;
}

.modal_modify > button {
  width: 100%;
  height: 40px;
  background: var(--color--black3);
  border: none;
  border-radius: 3px;

  color: var(--color--white);

  transition: all 100ms ease-in;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.modal_modify > button:hover {
  background-color: var(--color--black1);
}

#timer {
  display: block;
  padding: 10px 10px 0;
  margin: auto;
  color: red;
}
