#modal {
    display: none;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal_window {
    padding: 20px;
    width: 400px;
    background: var(--color--white);
    border-radius: 5px;
}

.close_area {
    display: flex;
    justify-content: flex-end;
}

.close_area button {
    background: transparent;
    font-size: 1.2rem;
}

.title {
    display: block;
    padding: 0 0 10px;
    margin: 0 0 20px;
    border-bottom: 1px solid var(--color--black1);
    text-align: center;
}

.title h2 {
    font-size: 20px;
    font-weight: 600;
}

.modal_window .subtitle {
    padding: 10px 10px 0;
}

.star {
    color: var(--color--red);
}

#modal input[type="text"] {
    padding: 0px 10px;
    width: 100%;
    height: 42px;
    border: 1px solid #dadada;
    border-radius: 3px;
}

.modal_modify {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 10px;
    gap: 10px;
}

.modal_modify button {
    width: 50%;
    height: 40px;
    background: var(--color--black1);
    font-size: 16px;
    font-weight: 500;
    color: var(--color--white);
    transition: background 300ms ease-in;
}

.modal_modify button:hover {
    background: var(--color--blue2);
}

/* 주문정보 수정 모달 */
.address_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.address_list li {
    padding: 0 0 10px;
}

.address_list li:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.phone_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 2px;
}

.phone_input * {
    flex: 0.3;
}

#phone1 {
    padding: 0px 10px;
    height: 42px;
    border: 1px solid #dadada;
    border-radius: 3px;
}

/* 이메일 인증 모달 */

.confirm_input_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 20px 20px 0;
}

#confirmButton {
    width: 100px;
    height: 42px;
    background: var(--color--black1);
    font-size: 16px;
    font-weight: 500;
    color: var(--color--white);
}

#timer {
    display: block;
    padding: 20px 20px 0;
    margin: auto;
    color: red;
}
