#container {
    display: flex;
    justify-content: space-between;
}

section {
    padding: 120px 30px 0;
}

.side_contents {
    display: block;
    width: 200px;
    padding: 72px 0 0;
}

.side_contents ul {
    display: block;
    padding: 30px 0 30px 30px;
    height: 100%;
    border: 1px solid var(--color--black4);
    border-top: 2px solid var(--color--black1);
}

.side_contents li {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--color--black1);
}

.side_contents li.active span {
    color: var(--color--blue2);
    font-weight: bold;
}

.side_contents li a {
    display: block;
    width: 100%;
    height: 100%;
}

.contents {
    padding-left: 50px;
}

/* 회원정보 table_layout */

.userInfo_table {
    display: table;
    margin: 0 auto;
    width: 80%;
}

.userInfo_table * {
    vertical-align: middle;
}

.userInfo_table > thead {
    border-top: 2px solid var(--color--black1);
    border-bottom: 1px solid var(--color--black4);
}

.userInfo_table td {
    padding: 20px 5px;
    font-size: 16px;
    border-bottom: 1px solid var(--color--black4);
    text-align: center;
}

.userInfo_table td:first-child {
    width: 25%;
    background: var(--background--gray1);
    font-size: 16px;
    font-weight: 600;
}

/* 회원정보 수정 table_layout */

.userInfo_table td input[type="text"] {
    padding: 0 10px;
    width: 350px;
    height: 42px;
    border: 1px solid var(--color--black4);
    border-radius: 3px;
    font-size: 14px;
}

.userInfo_table .address_input_wrap li {
    padding: 0 0 5px;
}

.userInfo_table label {
    display: inline-block;
    padding: 0.4rem 0.6rem;
    margin: 0.5rem 0;
    width: 6rem;
    background-color: var(--color--white);
    border: 1px solid var(--color--black1);
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    transition: background 0.1s ease-in-out;
}

.userInfo_table button {
    padding: 0.5rem 0.6rem;
    margin: 0.5rem 0;
    width: 6rem;
    outline: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 3px;

    transition: background 0.1s ease-in-out;
    background: var(--color--black1);
    color: var(--color--white);
}

.userInfo_table #profileImage {
    display: flex;
    margin: 5px auto;
    width: 150px;
    height: 150px;
    color: var(--color--black3);
}
.userInfo_table .ri-account-box-fill {
    margin: auto;
    font-size: 135px;
}

.userInfo_table .address_input_wrap li:first-child input.userInfoInput {
    width: calc(350px - 75px);
}

.userInfo_table .userInfoInput.phone_number {
    width: calc(350px / 3);
}

.address_search_btn {
    position: relative;
    width: 72px;
    height: 42px;
    background-color: var(--color--white);
    border: 1px solid var(--color--black2);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.5px;
    cursor: pointer;
}

/* 주문조회 table_layout */
.order_info {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.order_info > ul {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.order_info li p {
    font-size: 16px;
}

.order_info li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: var(--color--white);
    background-color: var(--color--black1);
    border-radius: 50%;
}

/* table */

.table_head ul,
.table_list ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.table_head {
    background: var(--color--black1);
    padding: 15px 0;
}

.table_head ul li {
    padding: 0 15px;
    color: var(--color--white);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.table_list li {
    padding: 10px;
}

.order_table .order_no {
    width: 18%;
}

.order_table .order_item {
    width: 65%;
}

.order_table .order_status {
    width: 17%;
}

.table_list > div {
    border-bottom: 1px solid var(--color--black4);
}

.table_list .order_no > div {
    font-size: 16px;
    text-align: center;
    word-break: keep-all;
}
.table_list .order_no * {
    display: block;
}

.table_list .order_no span {
    margin: 0 0 10px;
    font-weight: 600;
}

.table_list .order_no strong {
    color: var(--color--blue1);
}

.table_list .order_item .item_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 7.5px 0;
}

.table_list .item_list .img_box {
    width: 100px;
}

.table_list .info_box .title {
    display: block;
    padding: 0 0 10px;
    font-size: 18px;
    font-weight: 500;
    word-break: keep-all;
}

.table_list .info_box .quantity {
    padding: 0 0 5px;
}

.table_list .info_box dl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: var(--color--black3);
}

.table_list .info_box dt {
    width: 40px;
}

.table_list .info_box .price {
    font-size: 16px;
    font-weight: 500;
    color: var(--color--black1);
}

.table_list .order_status > div {
    text-align: center;
}

.table_list .order_status strong {
    display: block;
    padding: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color--black1);
}

.order_status button {
    padding: 0.4rem 0.6rem;
    margin: 0.2rem 0;
    width: 6rem;
    outline: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    transition: background 0.1s ease-in-out;
}

.order_status button.modify_button,
.order_status button.confirm_button {
    background: var(--color--black1);
    color: var(--color--white);
}

.order_status button.cancel_button {
    background-color: white;
    border: 0.5px solid var(--color--black4);
}

.btn_box {
    margin: 0 auto;
    padding: 50px 0 0;
    width: 50%;
}

.btn_box > button,
.btn_box > a {
    height: 50px;
    font-size: 18px;
    font-weight: 500;
}

#warning {
    display: block;
    padding: 30px 0 0;
    font-size: 13px;
    color: var(--color--blue2);
    text-align: center;
}

.no_data {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    /* text-align: center; */
    width: 100%;
    color: var(--color--black3);
}

@media (max-width: 1024px) {
    .side_contents + .contents {
        width: calc(100% - 150px);
    }
    .contents {
        padding-left: 20px;
    }

    .side_contents {
        width: 150px;
    }

    .side_contents ul {
        padding: 30px 15px;
        border: none;
        border-top: 2px solid var(--color--black1);
    }

    .side_contents li {
        padding: 5px 0;
        font-size: 16px;
    }

    .userInfo_table {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .left > nav {
        display: none;
    }

    .w1140 {
        width: 100%;
        padding: 0;
    }

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .side_contents {
        width: 100%;
        padding: 100px 15px 50px;
    }
    .side_contents + .contents {
        width: 100%;
        padding: 0 15px;
    }

    .side_contents ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        border: none;
    }

    .contents {
        width: 100%;
        padding: 0;
    }

    .userInfo_table {
        width: 100%;
    }

    #userPasswordButton,
    #userInfoModifyButton {
        font-size: 15px;
    }

    .side_contents ul li {
        flex: 1;
        display: block;
        margin-left: -1px;
        padding: 15px 5px;
        border: 1px solid var(--color--black4);
        font-size: 16px;
        text-align: center;
    }

    .side_contents ul li.active {
        background: var(--color--blue1);
        border: 1px solid var(--color--blue1);
    }

    .side_contents ul li.active span {
        color: var(--color--white);
    }

    .userInfo_table td input[type="text"] {
        width: 300px;
    }

    .userInfo_table .address_input_wrap li:first-child input.userInfoInput {
        width: calc(300px - 75px);
    }

    .userInfo_table .userInfoInput.phone_number {
        width: calc(280px / 3);
    }

    .table_head {
        display: none;
    }

    .table_list ul {
        display: block;
    }

    .table_list .order_no {
        padding: 10px 20px;
        width: 100%;
        background: var(--color--black1);
        color: var(--color--white);
    }

    .table_list .order_no > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .table_list .order_no span {
        margin: 0;
    }

    .table_list .order_no strong {
        color: var(--color--white);
    }

    .table_list .order_item {
        width: 100%;
        border-bottom: 1px solid var(--color--black3);
    }

    .table_list .order_item .item_list:not(:last-child) {
        border-bottom: 1px solid #dddddd;
    }

    .table_list .order_status {
        width: 100%;
    }

    .table_list .order_status > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .table_list .order_status strong {
        padding: 0;
        color: var(--color--red);
    }
}

@media (max-width: 480px) {
    .btn_box {
        width: 100%;
    }
    .userInfo_table td input[type="text"] {
        width: 230px;
    }

    .userInfo_table .address_input_wrap li:first-child input.userInfoInput {
        width: calc(230px - 75px);
    }

    .userInfo_table .userInfoInput.phone_number {
        width: calc(210px / 3);
    }
}
