* {
  box-sizing: border-box;
}

#active {
  color: var(--color--blue2);
  font-weight: bold;
}

main {
  padding: 120px 30px 0;
}

.side_contents {
  display: block;
  width: 200px;
  padding: 75px 0 0;
}

.side_contents ul {
  display: block;
  padding: 30px 0 30px 30px;
  height: 100%;
  border: 1px solid var(--color--black4);
  border-top: 2px solid var(--color--black1);
}

.side_contents li {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--color--black1);
}

.contents {
  padding-left: 50px;
}

.order_table {
  width: 100%;
}

.order_table > thead {
  background: var(--color--black1);
}

.order_table > thead > tr > th {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color--white);
  vertical-align: middle;
}

.order_table > tbody > tr > td {
  padding: 20px 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  border-bottom: 1px solid var(--color--black4);
}

.order_table > tbody > tr > td:first-child p {
  font-size: 14px;
  font-weight: 500;
}

.order_table > tbody img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  overflow: hidden;
}

.order_table > tbody .product_info p {
  font-size: 14px;
  font-weight: 600;
  word-break: keep-all;
}

.order_table > tbody .order_price p {
  font-size: 16px;
  font-weight: 700;
  color: var(--color--red);
}

.order_table > tbody .order_status p {
  display: block;
  padding: 0 0 10px;
  font-size: 16px;
  font-weight: 600;
}

.order_status > button {
  padding: 0.4rem 0.6rem;
  margin: 0.2rem 0;
  width: 6rem;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  transition: background 0.1s ease-in-out;
}

.order_status > button.modify_button {
  background: var(--color--black1);
  color: var(--color--white);
}

.order_status > button.cancel_button {
  background-color: white;
  border: 0.5px solid var(--color--black4);
}

#modal {
  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.4);
}

/* 팀장님께 물어볼 것! modal_window */
/* 선택자 물어볼 것! */
.modal_window {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 400px;
  background: var(--color--white);
  border-radius: 5px;
}

.modal_window .title {
  display: block;
  padding: 0 0 10px;
  margin: 0 0 20px;
  border-bottom: 1px solid var(--color--black1);
  text-align: center;
}

.modal_window .title h2 {
  font-size: 20px;
  font-weight: 600;
}

.close_area {
  display: flex;
  justify-content: flex-end;
}

.close_area > button {
  padding: 0;

  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 300ms ease-in;
}

.close_area > button:hover {
  transform: scale(1.05);
  color: var(--color--red);
}

.star {
  color: var(--color--red);
}

.modal_window .subtitle {
  padding: 0.5rem;
}

.address_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.address_list > li {
  padding: 0 0 10px;
}

.address_list > li > input {
  height: 40px;

  vertical-align: middle;
  border: 1px solid #dadada;
  padding: 0px 15px;
}

.address_list .address_search_btn {
  background-color: var(--color--white);
  outline: none;
  cursor: pointer;
}

.address_list .address,
.address_list .address_detail {
  width: 100%;
}

.phone_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#phone1,
#phone2,
#phone3 {
  padding: 0px 15px;
  width: 100px;
  height: 40px;
  border: 1px solid #dadada;
}

#phone2,
#phone3 {
  width: 100px;
}

.modal_modify {
  margin: 0.25rem 0;
  text-align: center;
}

.modal_modify > button {
  width: 50%;
  height: 40px;
  background: var(--color--black3);
  font-size: 16px;
  font-weight: 500;
  color: var(--color--white);

  border: none;
  outline: none;
  cursor: pointer;
  transition: all 300ms ease-in;
}

.modal_modify > button:hover {
  background-color: var(--color--black2);
}
