#container {
  display: flex;
  justify-content: center;
}

#container > .contents {
  max-width: 820px;
}

#orderComplete {
  padding: 120px 20px;
  width: 100%;
}

.title_area {
  padding: 5rem 0 2rem 0;

  text-align: center;
  min-height: 30px;
}

.title_area .logo {
  display: block;
  margin: 0 auto;
  padding: 0 0 50px;
  width: 300px;
}

.title_area > h2 {
  display: block;
  padding: 0 0 10px;
  font-size: 24px;
  font-weight: 600;
}

.title_area > i {
  font-size: 5rem;
}

.title_area > p {
  font-size: 0.9rem;
  color: var(--color--black3);
}

.order_complete_list {
  display: flex;
  margin: auto;
  padding: 2rem 0;
  width: 30rem;
  border-top: 1px solid var(--color--black1);
  border-bottom: 1px solid var(--color--black1);
  text-align: center;
}

.order_complete_list > li > h3 {
  margin-bottom: 10px;
}

.order_number {
  flex-basis: 50%;
}

.order_number > p {
  font-size: 20px;
  font-weight: 600;
  color: var(--color--blue2);
}

.order_money {
  flex-basis: 50%;
  border-left: 1px solid var(--color--black3);
}

.order_money > p {
  font-size: 20px;
  font-weight: 600;
  color: var(--color--red);
}

.order_detail_check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;
  text-align: center;
}

.order_detail_check > button {
  margin: 0 5px;
  width: 200px;
  height: 50px;
  color: var(--color--white);
  background-color: var(--color--blue2);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.order_detail_check > a {
  display: block;
  width: 200px;
  height: 50px;
  background: var(--color--white);
  border: 1px solid var(--color--blue2);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  color: var(--color--blue2);
  outline: none;
}

@media screen and (max-width: 550px) {
  .order_complete_list {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .title_area .logo {
    width: 220px;
  }

  .title_area > h2 {
    font-size: 22px;
  }

  #orderComplete {
    padding: 0px 20px;
  }
}
