* {
  box-sizing: border-box;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', 'sans-serif';
  overflow: auto;
}

#container {
  display: flex;

  margin: 2rem auto;

  min-height: 500px;

  background-color: var(--color--white);
}

#active {
  color: var(--color--blue2);
  font-weight: bold;
}

.side_content {
  flex-basis: 15%;
}

.side_content li {
  padding: 15px;

  cursor: pointer;
  border-bottom: 1px solid var(--color--black4);
  color: var(--color--black1);
}

#content {
  flex-basis: 85%;
}

.title_area {
  text-align: center;
}

.title_area > h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.userInfo_table {
  margin: 2rem;

  width: 900px;
}

.userInfo_table > thead > tr > th {
  vertical-align: middle;
}

.userInfo_table > thead {
  border-top: 2px solid var(--color--black1);
  border-bottom: 1px solid var(--color--black4);
}

.userInfo_table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
  padding: 20px 5px;

  font-size: 1rem;
  border-bottom: 1px solid var(--color--black4);
}

.address_search_btn {
  position: absolute;
  width: 5rem;
  height: 2.7rem;
  top: 42.7%;
  left: 70.9%;
  background-color: var(--color--white);
  border: 1px solid var(--color--black2);
  cursor: pointer;
}

input {
  margin: 5px;
  padding: 10px;
  width: 350px;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 30px;
  width: 80px;
  height: 40px;

  border: 0;
  border-radius: 15px;
  background-color: var(--color--blue2);
  color: var(--color--white);
  cursor: pointer;
}

button a {
  color: var(--color--white);
}

#warning {
  text-align: center;
  color: var(--color--black4);
  font-size: 15px;
}