* {
    box-sizing: border-box;
}

section {
    padding: 120px 30px 0;
}

.contents .inner {
    padding-left: 50px;
}

#active {
    color: var(--color--blue2);
    font-weight: bold;
}

.side_contents {
    display: block;
    width: 200px;
    padding: 75px 0 0;
}

.side_contents ul {
    display: block;
    padding: 30px 0 30px 30px;
    height: 100%;
    border: 1px solid var(--color--black4);
    border-top: 2px solid var(--color--black1);
}

.side_contents li {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--color--black1);
}

#content {
    flex-basis: 85%;
}

.title_area {
    text-align: center;
}

.title_area > h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.userInfo_table {
    display: table;
    margin: 0 auto;
    width: 80%;
}

.userInfo_table > thead > tr > th {
    vertical-align: middle;
}

.userInfo_table > thead {
    border-top: 2px solid var(--color--black1);
    border-bottom: 1px solid var(--color--black4);
}

.userInfo_table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
    padding: 20px 5px;

    font-size: 1rem;
    border-bottom: 1px solid var(--color--black4);
}

.userInfo_table > tbody > tr > td:first-child {
    width: 25%;
    background: var(--background--gray1);
    font-size: 16px;
    font-weight: 600;
}

.btn_box {
    display: flex;
    justify-content: center;
    padding: 100px 0 0;
}

.btn_box #withdrawalButton {
    display: block;
    margin: 0 5px;
    padding: 10px 0;
    width: 50%;
    background: var(--color--black1);
    border: var(--color--black1);
    color: var(--color--white);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    cursor: pointer;
}
