body {
  font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', 'sans-serif';
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 150px auto;
  width: 400px;
  height: 600px;
  
  border-top: solid var(--color--black1) 2px;
  border-bottom: solid var(--color--black1) 2px;
}

legend {
  text-align: center;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}

label {
  display: block;
  margin-top: 20px;
}

#id {
  width: 123px;
}

#email {
  width: 120px;
}

#selectEmail {
  padding: 10px;
  width: 0;
}

.email_inputText {
  margin: 5px;
  padding: 10px;
  width: 280px;
}

.input_box {
  margin-left: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 30px;
  width: 80px;
  height: 40px;

  border: 0;
  border-radius: 15px;
  background-color: var(--color--blue2);
  color: var(--color--white);
  cursor: pointer;
}

button a {
  color: var(--color--white);
}

#info {
    display: flex;
    justify-content: center;
    margin: 3px auto;
    font-size: 13px;
    color: var(--color--black3);
}