.dn {
    display: none;
}

.w500 {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

.w800 {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

.w1000 {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.w1140 {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

:root {
    --color--blue1: #0068ff;
    --color--blue2: #0090f6;

    --color--black1: #252525;
    --color--black2: #666666;
    --color--black3: #999999;
    --color--black4: #cccccc;
    --color--black5: #f6f6f6;

    --color--white: #ffffff;
    --color--red: #fa4848;

    --background--gray1: #f8f8f8;
}

#container {
    margin: 0 0 200px;
}

.contents {
    width: 100%;
}

.side_contents {
    width: 200px;
}

.side_contents + .contents {
    width: calc(100% - 200px);
}

/* header layout */

header {
    position: sticky;
    top: 0;
    left: 0;
    background: var(--color--white);
    z-index: 5;
}

.header {
    position: relative;
    width: 100%;
    height: 80px;
    box-shadow: 0px 8px 38px -15px rgba(0, 0, 0, 0.1);
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
}

.header .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header .logo {
    width: 100px;
}

.header .logo img {
    width: 100%;
}

.header nav ul,
.header .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header nav ul {
    margin-left: 30px;
}

.header nav a {
    display: block;
    padding: 27px 25px;
}

.header nav span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.header nav span::after {
    display: block;
    content: "";
    border-bottom: solid 2px var(--color--black1);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.header nav span:hover::after {
    transform: scaleX(1);
}

.header .menu li a {
    display: block;
    padding: 0 12px;
}

.header .menu li span {
    position: relative;
    display: block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.header .menu .menu_icon {
    position: relative;
    text-align: center;
}

.header .menu .menu_icon i {
    font-size: 22px;
}

.header .menu .menu_icon p {
    width: 18px;
    height: 18px;

    position: absolute;
    transform: translate(28px, -2px);

    font-size: 0.8rem;
    color: var(--color--white);
    background-color: var(--color--blue1);
    border-radius: 50%;
}

.search {
    display: flex;
    position: relative;
    margin-right: 10px;
}

.search input {
    padding: 12px;
    width: 165px;
    height: 35px;
    border: none;
    border-radius: 1rem;
    color: #5f5f5f;
    background-color: var(--color--black5);
    font-size: 1rem;
}

.search_btn {
    position: absolute;
    right: 6px;
    top: 15px;
    border: none;
    outline: none;
    background: transparent;
    transition: all 300ms ease-in;
}

.search_btn:hover {
    scale: 1.05;
}

.search i {
    font-size: 18px;
}

/* footer layout */
footer {
    background: var(--background--gray1);
}
footer .inner {
    display: block;
    padding: 50px 20px 20px;
    min-height: 200px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color--black4);
    padding: 0 0 15px;
}

.footer_top .logo {
    display: block;
    margin-right: 20px;
    font-size: 24px;
    font-weight: 900;
    width: 100px;
}

.footer_top .left,
.footer_top .right,
.footer_top ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer_top .right i {
    display: block;
    padding-left: 20px;
    font-size: 24px;
}

.footer_top ul li span {
    position: relative;
    padding: 0 20px;
    border-right: 1px solid var(--color--black3);
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--color--black3);
}

.footer_top ul li:last-child span {
    border-right: none;
}

.footer_info ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 0;
}

.footer_info ul li > div {
    padding-bottom: 20px;
}

.footer_info strong {
    display: block;
    padding: 0 0 7px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: var(--color--black1);
}

.footer_info span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--color--black1);
}

.footer_info span i {
    display: block;
    padding-right: 10px;
}

.footer_info p {
    display: block;
    font-size: 13px;
    line-height: 1.7;
    letter-spacing: 0.3px;
    color: var(--color--black3);
}

.footer_etc {
    padding: 15px 0 0;
    border-top: 1px solid var(--color--black4);
    text-align: center;
}

.footer_etc p {
    font-size: 12px;
    color: var(--color--black3);
}

.category_title,
.page_title {
    display: block;
    margin: 0 0 50px;
    padding: 15px 20px;
    border-bottom: 2px solid var(--color--black1);
}

.category_title h2,
.page_title h2 {
    position: relative;
    font-size: 28px;
    font-weight: 700;
}

.category_title h2::after,
.page_title h2::after {
    position: absolute;
    display: block;
    content: "";
    top: 5px;
    left: -18px;
    width: 8px;
    height: 8px;
    background: var(--color--blue1);
    border-radius: 50%;
}

/* button_layout */

.border {
    border-radius: 5px;
}

.btn_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn_box * {
    flex: 1;
}

.btn_box .button_bw {
    background: var(--color--white);
    border: 1px solid var(--color--blue2);
    color: var(--color--blue2);
}

.btn_box .button_bb {
    background: var(--color--blue2);
    border: 1px solid var(--color--blue2);
    color: var(--color--white);
}

.btn_box .button_dd {
    background: var(--color--black1);
    border: 1px solid var(--color--black1);
    color: var(--color--white);
}

.btn_box .button_dw {
    background: var(--color--white);
    border: 1px solid var(--color--black1);
    color: var(--color--black1);
}

/* 할인율 공통 */

.info_box .fixed_price {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color--black1);
}

.price_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.price_box .discount {
    font-size: 18px;
    font-weight: 500;
    color: var(--color--blue2);
}

.price_box.discount .fixed_price {
    font-size: 14px;
    font-weight: 400;
    color: #adb4c1;
    text-decoration: line-through;
}

.price_box.discount .discount_price {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color--black1);
}

.price_box .discount,
.price_box .discount_price {
    display: none;
}

.price_box.discount .discount,
.main_goods .price_box.discount .discount_price {
    display: block;
}

.side_btn_box {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.side_btn_box li {
    margin: 10px 0;
}

.side_btn_box li button,
.side_btn_box li a {
    display: block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: #ffffff;
}

.side_btn_box li .btn_scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid var(--color--black1);
    font-size: 32px;
    color: #252525;
    transition: 0.3s ease-in;
}

.side_btn_box li .btn_scroll.top {
    transform: rotate(180deg);
}

.side_btn_box li .btn_scroll:hover {
    background: var(--color--black1);
    border: 2px solid var(--color--black1);
    font-size: 32px;
    color: var(--color--white);
}

.side_btn_box li .btn_admin {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color--black1);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}
