<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>

  <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
            rel="stylesheet"
        />
  <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
        />
  <link rel='stylesheet' href='../../../css/reset.css'>
  <link rel='stylesheet' href='../../../css/style.css'>
  <link rel='stylesheet' href='./userInfoModify.css'>
  <script src='./userInfoModify.js' defer></script>

  <title>My Page | Ticket Want it!</title>
</head>
</head>
<body>
    <header>
        <div class="header">
            <div class="inner w1140">
                <div class="left">
                    <div class="logo">
                        <a href="../../home/index.html"
                            ><span>티켓원잇!</span></a
                        >
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a href="javascript:void(0)"
                                    ><span>전체</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    ><span>전시회</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    ><span>콘서트</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    ><span>뮤지컬</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    ><span>연극</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    ><span>굿즈샵</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="right">
                    <ul class="menu">
                        <li class="dn">
                            <a href="javascript:void(0)">
                                <div class="menu_icon login">
                                    <i class="ri-login-circle-line"></i>
                                </div>
                                <span>LOGIN</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="menu_icon logout">
                                    <i class="ri-login-circle-line"></i>
                                </div>
                                <span>LOGOUT</span>
                            </a>
                        </li>
                        <li>
                            <a href="../userInfo/userInfo.html">
                                <div class="menu_icon mypage">
                                    <i class="ri-user-3-line"></i>
                                </div>
                                <span>MYPAGE</span>
                            </a>
                        </li>
                        <li>
                            <a href="../order/order.html">
                                <div class="menu_icon cart">
                                    <i class="ri-shopping-cart-line"></i>
                                </div>
                                <span>CART</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id='container'>
            <div class="side_contents">
                <ul>
                    <a href='../userInfo/userInfo.html'><li>회원 정보</li></a>
                  <a href='./userInfoModify.html'><li id='active'>회원정보 수정</li></a>
                  <a href='../order/order.html' ><li>주문 조회</li></a>
                </ul>
            </div>
        </div>
        <div id='contents'>
            <table>
                <tr id='Title'>
                    <th colspan='2'>회원정보 수정</th>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td class='userCurrentInfo'>
                        <span>qpdlql7860@google.com</span>
                    </td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td class='userCurrentInfo'>
                        <input class='userCurrentInfoInput'></input>
                    </td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td class='userCurrentInfo'>
                        <input class='userCurrentInfoInput'></input>
                    </td>
                </tr>
                <tr>
                    <td>비밀번호 확인</td>
                    <td class='userCurrentInfo'>
                        <input id='userCurrentInfoInput'></input>
                    </td>
                </tr>
            </table>
            <div id='infoModify'>
                <button id='infoModifyButton'>정보 수정</button>
                <button id='withdrawalButton'>회원 탈퇴</button>
            </div>
            <div id='warning'>
                *이름, 전화번호, 주소를 정확히 입력하지 않으면 배송 시 불이익이 발생할 수 있습니다.
            </div>
        </div>
    </main>
  </form>
  <footer>
    <div class="inner w1140">
        <div class="footer_top">
            <div class="left">
                <div class="logo">TICKET ONEIT!</div>
                <ul>
                    <li>
                        <a href="javascript:void(0)"
                            ><span>개인정보처리방침</span></a
                        >
                    </li>
                    <li>
                        <a href="javascript:void(0)"
                            ><span>이용약관</span></a
                        >
                    </li>
                    <li>
                        <a href="javascript:void(0)"
                            ><span>이용안내</span></a
                        >
                    </li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <a href="javascript:void(0)"
                            ><i class="ri-instagram-line"></i
                        ></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"
                            ><i class="ri-gitlab-fill"></i
                        ></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"
                            ><i class="ri-github-fill"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer_info">
            <ul>
                <li>
                    <div class="customer_center">
                        <strong>CUSTOMER SUPPORT CENTER</strong>
                        <span>
                            <i class="ri-customer-service-line"></i>
                            <a href="tel:전화번호">02-1234-5678</a>
                        </span>
                    </div>
                    <div class="kakaotalk">
                        <strong>KAKAOTALK</strong>
                        <span
                            ><i class="ri-kakao-talk-fill"></i
                            ><a href="javascript:void(0)"
                                >TICKET ONEIT!</a
                            >
                        </span>
                    </div>
                </li>
                <li>
                    <div class="operating_hours">
                        <strong>OPERATING HOURS</strong>
                        <p>
                            MON - FRI AM 09:30 - PM 05:30<br />
                            LUNCH PM 12:00 - 1:00<br />
                            SAT, SUN, HOLIDAY OFF
                        </p>
                    </div>
                </li>
                <li>
                    <div class="accout_info">
                        <strong>ACCOUNT INFORMATION</strong>
                        <p>
                            신한은행 12345678900<br />
                            예금주 (주)티켓원잇
                        </p>
                    </div>
                </li>
                <li>
                    <div class="company_info">
                        <strong>COMPANY INFORMATION</strong>
                        <p>
                            회사 : 주식회사 티켓원잇<br />
                            팀장 : 윤우정 <br />
                            팀원 : 김윤중, 유하영, 이민영, 이성호,
                            정혜린<br />
                            사업자등록번호 : [123-12-12345]<br />
                            주소 : (04799)서울 성동구 아차산로17길 48<br />
                            제휴문의 : 엘리스 / contact@elice.io
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer_etc">
            <p>
                Copyright ⓒ 2023 - 2023 Ticket One It Inc. All Rights
                Reserved.
            </p>
        </div>
    </div>
</footer>
  <script>
    var swiper = new Swiper(".mainBanner", {
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
  </script>
</body>
</html>