<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>장바구니 페이지</title>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="cart.css" />
    <script
      src="https://kit.fontawesome.com/cab4956b39.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body class="w1140">
    <header>
      <div class="header">
        <div class="inner w1140">
          <div class="left">
            <div class="logo">
              <a href="../home/index.html"><span>티켓원잇!</span></a>
            </div>
            <nav>
              <ul>
                <li>
                  <a href="javascript:void(0)"><span>전체</span> </a>
                </li>
                <li>
                  <a href="javascript:void(0)"><span>전시회</span> </a>
                </li>
                <li>
                  <a href="javascript:void(0)"><span>콘서트</span> </a>
                </li>
                <li>
                  <a href="javascript:void(0)"><span>뮤지컬</span> </a>
                </li>
                <li>
                  <a href="javascript:void(0)"><span>연극</span> </a>
                </li>
                <li>
                  <a href="javascript:void(0)"><span>굿즈샵</span> </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="right">
            <ul class="menu">
              <li>
                <a href="javascript:void(0)">
                  <div class="menu_icon login">
                    <i class="ri-login-circle-line"></i>
                  </div>
                  <span>LOGIN</span>
                </a>
              </li>
              <li class="dn">
                <a href="javascript:void(0)">
                  <div class="menu_icon logout">
                    <i class="ri-login-circle-line"></i>
                  </div>
                  <span>LOGOUT</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <div class="menu_icon mypage">
                    <i class="ri-user-3-line"></i>
                  </div>
                  <span>MYPAGE</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <div class="menu_icon cart">
                    <i class="ri-shopping-cart-line"></i>
                  </div>
                  <span>CART</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <section class="cart">
      <div class="title_area">
        <h2>장바구니</h2>
      </div>
      <table class="tickets">
        <colgroup>
          <col style="width: 5%" />
          <col style="width: 10%" />
          <col style="width: 20%" />
          <col style="width: 15%" />
          <col style="width: 8%" />
          <col style="width: 10%" />
          <col style="width: 12%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
        </colgroup>
        <!-- 연령제한 장소 전시회명 가격 날짜 수량 -->
        <thead>
          <tr>
            <th><input type="checkbox" /></th>
            <th>이미지</th>
            <th>전시회명</th>
            <th>장소</th>
            <th>연령제한</th>
            <th>판매가</th>
            <th>수량</th>
            <th>합계</th>
            <th>선택</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox" /></td>
            <td>
              <img
                class="ticket_img"
                src="https://img.29cm.co.kr//next-product/2023/04/03/ad7307f5595b433cab22b2bc26c9124c_20230403114503.jpg"
                alt="sample image"
              />
            </td>
            <td>
              <p class="ticket_title">
                [얼리버드] 에드워드 호퍼: 길 위에서 6월 티켓
              </p>
            </td>
            <td><p>서울시립미술관</p></td>
            <td><p>15세 이상</p></td>
            <td><p class="ticket_money">10,000원</p></td>
            <td class="ticket_quantity">
              <button class="ticket_quantity_button">
                <i class="fas fa-minus"></i>
              </button>
              <input type="text" class="ticket_quantity_input" value="1" />
              <button class="ticket_quantity_button">
                <i class="fas fa-plus"></i>
              </button>
            </td>
            <td><p class="ticket_total">10,000원</p></td>
            <td>
              <button class="ticket_order ticket_choice_button">
                주문하기
              </button>
              <button class="ticket_delete ticket_choice_button">삭제</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="table_footer">
        <div>
          <span>선택상품을</span>
          <button class="table_footer_button slected_delete">삭제하기</button>
        </div>
        <button class="table_footer_button all_delete">장바구니 비우기</button>
      </div>
      <table class="calculate">
        <colgroup>
          <col style="width: 50%" />
          <col style="width: 50%" />
        </colgroup>
        <thead>
          <tr>
            <th>총 상품금액</th>
            <th>결제예정금액</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>10,000원</p></td>
            <td><p>= 10,000원</p></td>
          </tr>
        </tbody>
      </table>
      <div class="order_area">
        <button class="order_button all_order">전체 상품 주문</button>
        <button class="order_button selected_order">선택 상품 주문</button>
      </div>
    </section>
    <footer>
      <div class="inner w1140">
        <div class="footer_top">
          <div class="left">
            <div class="logo">TICKET ONEIT!</div>
            <ul>
              <li>
                <a href="javascript:void(0)"><span>개인정보처리방침</span></a>
              </li>
              <li>
                <a href="javascript:void(0)"><span>이용약관</span></a>
              </li>
              <li>
                <a href="javascript:void(0)"><span>이용안내</span></a>
              </li>
            </ul>
          </div>
          <div class="right">
            <ul>
              <li>
                <a href="javascript:void(0)"
                  ><i class="ri-instagram-line"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="ri-gitlab-fill"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="ri-github-fill"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer_info">
          <ul>
            <li>
              <div class="customer_center">
                <strong>CUSTOMER SUPPORT CENTER</strong>
                <span>
                  <i class="ri-customer-service-line"></i>
                  <a href="tel:전화번호">02-1234-5678</a>
                </span>
              </div>
              <div class="kakaotalk">
                <strong>KAKAOTALK</strong>
                <span
                  ><i class="ri-kakao-talk-fill"></i
                  ><a href="javascript:void(0)">TICKET ONEIT!</a>
                </span>
              </div>
            </li>
            <li>
              <div class="operating_hours">
                <strong>OPERATING HOURS</strong>
                <p>
                  MON - FRI AM 09:30 - PM 05:30<br />
                  LUNCH PM 12:00 - 1:00<br />
                  SAT, SUN, HOLIDAY OFF
                </p>
              </div>
            </li>
            <li>
              <div class="accout_info">
                <strong>ACCOUNT INFORMATION</strong>
                <p>
                  신한은행 12345678900<br />
                  예금주 (주)티켓원잇
                </p>
              </div>
            </li>
            <li>
              <div class="company_info">
                <strong>COMPANY INFORMATION</strong>
                <p>
                  회사 : 주식회사 티켓원잇<br />
                  팀장 : 윤우정 <br />
                  팀원 : 김윤중, 유하영, 이민영, 이성호, 정혜린<br />
                  사업자등록번호 : [123-12-12345]<br />
                  주소 : (04799)서울 성동구 아차산로17길 48<br />
                  제휴문의 : 엘리스 / contact@elice.io
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="footer_etc">
          <p>Copyright ⓒ 2023 - 2023 Ticket One It Inc. All Rights Reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
